script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script.
    $.ajax({
      url: '/callback_handle',
      type: "POST",
      data: JSON.stringify({token: window.location.hash}),
      contentType: "application/json",
      success: function (msg){ 
        console.log(msg)
        window.location.replace(msg.url); 
      },
      error: function (err){ 
        alert(err.responseText)
      }
    });
