extends header.pug
block styles
  link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
block content
  div(class='main')
    div(class='sub_main')
      a(class='button sub_main') Find Game
      a(class='button sub_main') Admin Sign In
