html
  head
    title= "Who's Jam"
    block styles
    link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
  body
    h1="Sign into Spotify Below"
    a(class='button' href=spotify_auth_link) Sign In
